@model MultiStepFormViewModel

<h1>Multistep Form (With Fields) - Step 1</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Step2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next Step" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*NOTE: Purposely disabled client-side validation to easier demonstrate server-side validation.*@
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
