@model MultiStepFormViewModel

<h1>Multistep Form (With Session) - Complete</h1>

<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(x => x.FirstName)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(x => x.FirstName)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(x => x.LastName)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(x => x.LastName)
    </dd>
</dl>
